{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

    <style>
      .borrar, .editar{visibility:hidden;}

      tr:hover .editar{visibility: visible;}
      tr:hover .borrar{visibility: visible;}

    </style>

    <br>

    <div class="container">
        <br>
        <section id="tabs">


            <h6 class="section-title h1" style="float:left;">
                Gestión de familias
            </h6>

            <br><br><br>

                <br>
            <div class="row">
                <div class="col-lg-12 ">
                  <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link" id="nav-vistaPrevia-tab" href="/gestionar/articulos" role="tab" aria-controls="nav-vistaPrevia" aria-selected="false">Artículos</a>
                        <a class="nav-item nav-link active" id="nav-cabecera-tab"  href="/gestionar/familias" aria-controls="nav-cabecera" aria-selected="true">Familias</a>
                        <a class="nav-item nav-link" id="nav-editarList-tab"  href="/gestionar/marcas" role="tab" aria-controls="nav-editarList" aria-selected="false">Marcas</a>
                        <a class="nav-item nav-link" id="nav-editarList-tab"  href="/gestionar/dependencias" role="tab" aria-controls="nav-editarList" aria-selected="false">Dependencias</a>
                    </div>
                  </nav>

                        <!-------------------------- tab 2 ---------------------->
                        <div class="tab-pane show active" id="nav-cabecera" role="tabpanel" aria-labelledby="nav-cabecera-tab">

                          <div class="row row justify-content-between">

                              <div class="col-5">
                                <br>
                                <h4>Lista de artículos</h4>
                                <br>
                                <table class="table table-hover">
                                    {% for familia in familia %}
                                      <tr>

                                        <td>
                                          {{familia.familia}}
                                        </td>

                                        <td style="text-align:right;">
                                          <a href="/gestionar/familiasBorrar/{{ familia.id  }}" class="borrar" >
                                            <img src="/imagenes/borrar.png">
                                          </a>

                                          <a href="/gestionar/familiasEditar/{{ familia.id  }}" class="editar">
                                            <img src="/imagenes/editar.png"  >
                                          </a>
                                        </td>


                                      </tr>
                                    {% endfor %}
                                </table>
                              </div>

                              <div class="col-6"  >
                                <br>
                                <h4>{{familia|length}} Familias disponibles</h4>
                                <br>

                                <div class="alert alert-info " >

                                  <p> * Al enviar el formulario se creará una familia nueva.</p>
                                  <hr>

                                  {{ form_start(formFamilia) }}
                                  {{ form_widget(formFamilia) }}
                                  {{ form_end(formFamilia) }}

                                </div>

                              </div>




                            </div>
                        </div>

                        <!-------------------------- tab 3 ---------------------->
                        <div class="tab-pane fade" id="nav-editarList" role="tabpanel" aria-labelledby="nav-editarList-tab">


                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- ./Tabs -->

    </div>



{% endblock %}
