{% extends 'base.html.twig' %}

{% block title %}{% endblock %}


{% block body %}

<script>
$(document).ready(function(){

    var val = "{{validacion}}";
    if(val == "1"){
      $("#errorModal").css("display","block");
    }

    $("#cerrarError").click(function(){
        $("#errorModal").css("display","none");

        window.location.href = "/agregar/articulos/{{orden}}";
    })
});
</script>

    <br>
    {% set fecha = cabecera.fecha.date | split(' ') %}

    <div class="container">


        <br>
        <section id="tabs">

            {% set tipoBTN = "primary" %}

            {% if cabecera.estado == 0 %}
                {% set estado = "En proceso"  %}
                {% set tipoBTN = "light" %}

            {% elseif cabecera.estado == 1 %}
                {% set estado = "Pendiente"  %}
                {% set tipoBTN = "danger" %}

            {% elseif cabecera.estado == 2 %}
                {% set estado = "Aprobado"  %}
                {% set tipoBTN = "primary" %}

            {% elseif cabecera.estado == 3 %}
                {% set estado = "Rechazado"  %}
                {% set tipoBTN = "danger" %}

            {% elseif cabecera.estado == 4 %}
                {% set estado = "En tránsito"  %}
                {% set tipoBTN = "warning" %}

            {% elseif cabecera.estado == 5 %}
                {% set estado = "Finalizado"  %}
                {% set tipoBTN = "success" %}

            {% elseif cabecera.estado == 6 %}
                {% set estado = "En espera"  %}
                {% set tipoBTN = "secondary " %}

            {% endif %}

            {% set act = "" %}

            {% if cabecera.estado == 1 %}
                {% set act = "disabled" %}

            {% elseif cabecera. estado == 2 %}
                {% set act = "disabled" %}
            {% endif %}

            {% set fecha = cabecera.fecha.date | split(' ') %}


            <!-- Modal error -->
            <div class="modal show" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true"  >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Mensaje de error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>No se encontraron artículos con el código ingresado</p>
                    <p>Click  <a href="/gestionar/articulos">aquí</a> para asignar códigas a artículos</p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal" id="cerrarError">Cerrar</button>

                  </div>
                </div>
              </div>
            </div>



            <!-- Modal -->
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Orden de entrega # {{ orden }} </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">



                  <div class="alert alert-info" role="alert">
                      <br>
                      <h5>Fecha: {{ fecha[0]|date("m/d/Y") }} </h5>
                      <h5 style="float: left;">Preoveedor: {{ cabecera.destino }}</h5>
                      <br><br><br>
                  </div>

                    <table class="table">
                                        <tr>
                                            <th>Artículo</th>
                                            <th>Familia</th>
                                            <th>Marca</th>
                                            <th>Modelo</th>
                                            <th>Nro Serie</th>
                                        </tr>

                    {% for d in lineas %}
                    <tr>
                        <td>{{ d.articulo }}</td>
                        <td>{{ d.familia }}</td>
                        <td>{{ d.marca }}</td>
                        <td>{{ d.modelo }}</td>
                        <td>{{ d.nroSerie }}</td>
                    </tr>
                    {% endfor %}
                </table>


              </div>
              <div class="modal-footer">

                  {{ form_start(formularioOrden) }}
                  {{ form_widget(formularioOrden) }}
                  {{ form_end(formularioOrden) }}
              </div>
            </div>
          </div>
        </div>

            <h6 class="section-title h1" style="float:left;">
                Orden de entrega # {{ orden }}
                <span class="badge badge-{{ tipoBTN }}" style="font-size: 16px; vertical-align:super; ">{{ estado }}</span>
            </h6>


            <!-- Button volver -->
            <a href="/ordenes" class="linkVolver"  style="text-decoration:none; float:right; margin-left:20px; background:rgb(94, 103, 125); border-radius:4px; padding:5.5px 10px 5.5px 10px; color:#fff;">
                Ver ordenes  <img src="/imagenes/listaBlanca.png" style="margin-left:5px;"/>
            </a>


            <!-- Button trigger modal -->
            <button type="button" {{ act }} class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float:right; ">
                Vista prelimiar
            </button>


            <br>
            <br>
            <br>
            <br>

            <div class="row">
                <div class="col-lg-12 ">
                    <nav>
                        <!-------------------------- titulos de tabs ---------------------->
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link" id="nav-vistaPrevia-tab"   href="/agregar/agregar/{{orden}}" role="tab" aria-controls="nav-vistaPrevia" aria-selected="true">Artículos</a>
                            <a class="nav-item nav-link active" id="nav-cabecera-tab"  href="/agregar/articulos/{{orden}}" role="tab" aria-controls="nav-cabecera" aria-selected="false">Agregar artículos</a>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">

                        <!-------------------------- tab 1 ---------------------->

                        <!-------------------------- tab 2 ---------------------->
                        <div class="tab-pane fade show active" id="nav-cabecera" role="tabpanel" aria-labelledby="nav-cabecera-tab">


                            <div class="alert alert-info" role="alert">
                              <br>
                                {{form_start(formBuscar)}}
                                {{form_widget(formBuscar)}}
                                {{form_end(formBuscar)}}

                            </div>


                            <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Artículo</th>
                                    <th>Familia</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Nro de serie</th>
                                    <th style="width:100px;"></th>
                                </tr>

                                {% for forms in forms %}

                                  {{form_start(forms)}}
                                    <tr>
                                      <td>{{loop.index0}}</td>

                                      <td>  {{form_label(forms.articulo)}}  </td>
                                      <td>  {{form_label(forms.familia)}}  </td>
                                      <td>  {{form_label(forms.marca)}}  </td>
                                      <td>  {{form_label(forms.modelo)}}  </td>
                                      <td>  {{form_widget(forms.nroArticulo)}}  </td>

                                      <td>  {{form_widget(forms.save)}}  </td>



                                    </tr>
                                  {{form_end(forms)}}
                                {% endfor %}
                            </table>

                        </div>

                        <!-------------------------- tab 3 ---------------------->


                    </div>
                </div>

            </div>
        </section>

        <!-- ./Tabs -->

    </div>



{% endblock %}
