{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% set conProceso =0 %}
{% set conPendiente =0 %}



{% for orden in ordenes %}

    {% if orden.estado == 0 %}
        {% set conProceso = conProceso +1  %}

    {% elseif orden.estado == 1 %}
        {% set conPendiente = conPendiente +1  %}

    {% endif %}
{% endfor %}

{% block body %}
    <script>
        $(document).ready(function(){

            $("* .detalle").click(function(){
                var a = $(this).attr('id');
                window.location.href = "/ingr_linea/"+a+"/quitar";
            })


        });
    </script>

    <style>
        .btnC{width:130px;}

        .bot{float: left;
            clear: left;}


        .detalle{visibility:hidden;
                cursor:pointer;}


        tr:hover .detalle{ visibility: visible;}
    </style>
 <div class="container  ">
     <br>
     <!-- ./Tabs -->
     <section id="tabs">

         <h6 class="section-title h1" style="float:left;">Gestión de ordenes</h6>

         <br>
         <br>
         <br>
         <br>

         <div class="row">
             <div class="col-lg-12 ">
                 <nav>

                     <!-------------------------- titulos de tabs ---------------------->
                     <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                         <a class="nav-item nav-link active" id="nav-recepcion-tab" data-toggle="tab" href="nav-recepcion" role="tab" aria-controls="nav-recepcion" aria-selected="true">Ordenes de recepción</a>
                         <a class="nav-item nav-link" id="nav-envio-tab" href="ordenEntrega" role="tab" aria-controls="nav-envio" aria-selected="false">Ordenes de entrega</a>
                     </div>
                 </nav>

                 <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">


                     <!-------------------------- tab 1 ---------------------->

                     <section class="row">

                       <!---------------------------------->
                       <section class="boxCuadro row">
                           <div class="cuadrado" style="background:rgb(31, 208, 233);">
                               <img src="imagenes/proceso.png">
                           </div>

                           <section class="cuadradoTexto">
                             <div>{{ conProceso }}</div>
                             <div style="font-size:10px;">En proceso</div>
                           </section>
                       </section>

                       <!---------------------------------->

                       <section class="boxCuadro row">
                           <div class="cuadrado " style="background:rgb(238, 109, 105);">
                               <img src="imagenes/pendiente.png">
                           </div>

                           <section class="cuadradoTexto">
                             <div>{{ conPendiente }}</div>
                             <div style="font-size:10px;">Pendiente</div>
                           </section>
                            </section>

                     </section>

                     <div class="tab-pane fade show active" id="nav-recepcion" role="tabpanel" aria-labelledby="nav-rcepcion-tab">
                      
<br>

                         <table class="table table-hover">
                             <tr>
                                 <th style="width:50px;"></th>
                                 <th style="width:150px;">Fecha</th>
                                 <th style="text-align:center;">Proveedor</th>
                                 <th style="text-align:center;">Nro de orden</th>
                                 <th style="text-align:center;">Estado</th>

                             </tr>

                             {{ form_start(formularioEstado) }}
                             {% for orden in ordenes %}

                                 {% set f = orden.fecha.date | split(" ") %}


                                 {% set estado = "..." %}

                             {% if orden.estado == 0 %}

                                         {% set estado = "En proceso" %}
                                         {% set btn = "secondary" %}

                                     {% elseif orden.estado == 1 %}
                                         {% set estado = "Pendiente" %}
                                         {% set btn = "danger" %}

                                     {% elseif orden.estado == 2 %}
                                         {% set estado = "Aprobado" %}
                                         {% set btn = "success" %}

                                 {% endif %}

                                 <tr>

                                     <td>
                                             <img src="/imagenes/ojo.png"  id="{{ orden.id }}" class="detalle" title="Ver detalle">

                                     </td>

                                     <td>{{ f[0]|date("m/d/Y") }}</td>
                                     <td style="text-align:center;">{{ orden.proveedor }}</td>
                                     <td style="text-align:center; font-weight: bold;"># {{ orden.id }}</td>


                                     <td style="width:120px; text-align:right;">
                                         <span class="badge badge-{{ btn }}">{{ estado }}</span>

                                     </td>

                                     <td>

                                         {{ form_widget(formularioEstado[orden.id]) }}
                                     </td>

                                 </tr>

                             {% endfor %}
                             {{ form_end(formularioEstado) }}


                         </table>


                     </div>

                     <!-------------------------- tab 2 ---------------------->
                     <div class="tab-pane fade" id="nav-envio" role="tabpanel" aria-labelledby="nav-envio-tab">

                         <div class="alert alert-info" role="alert">
                             Quitar
                         </div>


                     </div>

                     <!-------------------------- tab 3 ---------------------->
                     <div class="tab-pane fade" id="nav-editarList" role="tabpanel" aria-labelledby="nav-editarList-tab">

                     </div>

                 </div>
             </div>

         </div>
     </section>

     <!-- ./Tabs -->

 </div>



{% endblock %}
