{% extends 'base.html.twig' %}





{% block body %}

{% set familia = "flecha" %}{% set articulo = "flecha" %}{% set marca = "flecha" %}{% set modelo = "flecha" %}{% set cantidad = "flecha" %}

{% if orden is not defined %}
  {% set orden = " " %}
  {% endif %}


{% if orden == "familia" %}
  {% set familia = "slct" %}
  {% else %}
  {% set familia = "flecha" %}
{% endif %}

{% if orden == "articulo" %}
  {% set articulo = "slct" %}
  {% else %}
  {% set articulo = "flecha" %}
{% endif %}

{% if orden == "marca" %}
  {% set marca = "slct" %}
  {% else %}
  {% set marca = "flecha" %}
{% endif %}

{% if orden == "modelo" %}
  {% set modelo = "slct" %}
  {% else %}
  {% set modelo = "flecha" %}
{% endif %}

{% if orden == "cantidad" %}
  {% set cantidad = "slct" %}
  {% else %}
  {% set cantidad = "flecha" %}
{% endif %}


<style>
  .ord{transform: rotate(90deg);}
  .tablita td{padding-left: 30px;}




    .box1, .box2{float: left;}

    .box2{margin-left:100px;
          margin-top:50px;}



</style>


<br>
<br>

   <div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
              <section class="GRbox" >
                  <div class="box1 card-body">
                      <h5 class="card-title">Entrega de artículos</h5>
                      <p class="card-text">Iniciá el proceso de entrega de artículos</p>
                      <a href="solicitud" class="btn btn-danger">Crear Orden</a>
                  </div>

                  <section class="box2">
                      <img src="/imagenes/entrega.png">
                  </section>
                </section>

            </div>
        </div>



        <div class="col-lg-6">
            <div class="card">
                <section class="GRbox" >
                  <div class="box1 card-body" >
                      <h5 class="card-title">Recibir artículos</h5>
                      <p class="card-text">Incrementá el stock existente.</p>
                      <a href="/ordenIngreso" class="btn btn-primary">Agregar</a>
                  </div>

                  <section class="box2">
                      <img src="/imagenes/recibir.png">
                  </section>

              </section>


            </div>
        </div>
    </div>

    <br>

	<div class="alert alert-info" role="alert">
	  Detalle de los artículos en depósito

    <br>
    <br>
    <br>


    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
      </div>
      <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
    </div>




	</div>


    <table class="table tablita">
            <tr>
                <th>
                  <a href="/stock/familia">
                    <img src="/imagenes/{{familia}}.png" id="familia" class="ord">
                    Familia
                  </a>
                </th>

                <th>
                  <a href="/stock/articulo">
                    <img src="/imagenes/{{articulo}}.png" id="articulo" class="ord">
                    Artículo
                  </a>
                </th>

                <th>
                  <a href="/stock/marca">
                    <img src="/imagenes/{{marca}}.png" id="marca" class="ord">
                    Marca
                  </a>
                </th>

                <th>
                  <a href="/stock/modelo">
                    <img src="/imagenes/{{modelo}}.png" id="stock" class="ord">
                    Modelo
                  </a>
                </th>

                <th>
                  <a href="/stock/cantidad">
                    <img src="/imagenes/{{cantidad}}.png" id="modelo" class="ord" >
                      Stock
                    </a>
                </th>
            </tr>

            {% for art in art %}
                <tr>
                    <td>{{ art.familia }}</td>
                    <td>{{ art.articulo }}</td>
                    <td>{{ art.marca }}</td>
                    <td>{{ art.modelo }}</td>
                    <td>{{ art.cantidad }}</td>
                </tr>

            {% endfor %}
        </table>
   </div>


{% endblock %}
