{% extends 'base.html.twig' %}


{% block body %}

{% set familia = "flecha" %}{% set articulo = "flecha" %}{% set marca = "flecha" %}{% set modelo = "flecha" %}{% set cantidad = "flecha" %}

{% if orden is not defined %}
  {% set orden = " " %}
  {% endif %}


{% if orden == "familia" %}
  {% set familia = "slct" %}
  {% else %}
  {% set familia = "flecha" %}
{% endif %}

{% if orden == "articulo" %}
  {% set articulo = "slct" %}
  {% else %}
  {% set articulo = "flecha" %}
{% endif %}

{% if orden == "marca" %}
  {% set marca = "slct" %}
  {% else %}
  {% set marca = "flecha" %}
{% endif %}

{% if orden == "modelo" %}
  {% set modelo = "slct" %}
  {% else %}
  {% set modelo = "flecha" %}
{% endif %}

{% if orden == "cantidad" %}
  {% set cantidad = "slct" %}
  {% else %}
  {% set cantidad = "flecha" %}
{% endif %}

<script>
    $(document).ready(function(){

        var val = "{{error}}";
        if(val == 1){
          $("#errorModal").css("display","block");
        }

        $("#cerrarError").click(function(){
            $("#errorModal").css("display","none");
        })
    });
</script>


<style>
  .ord{transform: rotate(90deg);}
  .tablita td{padding-left: 30px;}
  .box1, .box2{float: left;}
  .box2{margin-left:100px;
          margin-top:50px;}



          .editar:link, .editar:visited {

        color: #000;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        }


        .editar:hover, .editar:active {
          color:rgb(115, 139, 119) ;
      }
</style>


<br>
<br>

<!-- Modal error -->
<div class="modal show" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Mensaje de error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>No se encontraron articulos con el número ingresado. <br> Click
          <a href="/gestionar/articulos"> aqui </a>
        para asignar número de artículo</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="cerrarError">Cerrar</button>
      </div>
    </div>
  </div>
</div>



   <div class="container">

    <div class="row">


        <div class="col-lg-6">
            <div class="card">
                <section class="GRbox" >
                  <div class="box1 card-body" >
                      <h5 class="card-title">Recibir artículos</h5>
                      <p class="card-text">Incrementá el stock existente.</p>
                      <a href="/ordenIngreso" class="btn btn-primary">Crear orden</a>
                      <a href="/ordenes" class="btn btn-info">Ver ordenes de recepción</a>
                  </div>

                  <section class="box2">
                      <img src="/imagenes/recibir.png">
                  </section>

              </section>


            </div>
        </div>


        <div class="col-lg-6">
            <div class="card">
              <section class="GRbox" >
                  <div class="box1 card-body">
                      <h5 class="card-title">Entregar artículos</h5>
                      <p class="card-text">Iniciá el proceso de entrega de artículos</p>
                      <a href="solicitud" class="btn btn-danger">Crear orden </a>
                      <a href="/ordenEntrega" class="btn btn-info">Ver ordenes de entrega</a>
                  </div>

                  <section class="box2">
                      <img src="/imagenes/entrega.png">
                  </section>
                </section>

            </div>
        </div>
    </div>

    <br>

	<div class="alert alert-info" role="alert">
	  Busqueda por número de artículo

    <br>
    <br>

    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Buscar</span>
      </div>


      <div style="width:90%;">
    {{ form_start(formBusqueda) }}
    {{ form_widget(formBusqueda.buscar, {'attr': {'class' : 'form-control',  'aria-describedby' : "inputGroup-sizing-default", "aria-label" :"Sizing example input" } }) }}
    {{ form_end(formBusqueda) }}
    </div></div>
	</div>
    <table class="table tablita">
            <tr>
                <th>
                  <a href="/stock/familia">
                    <img src="/imagenes/{{familia}}.png" id="familia" class="ord">
                    Artículo
                  </a>
                </th>

                <th>
                  <a href="/stock/articulo">
                    <img src="/imagenes/{{articulo}}.png" id="articulo" class="ord">
                    Familia
                  </a>
                </th>

                <th>
                  <a href="/stock/marca">
                    <img src="/imagenes/{{marca}}.png" id="marca" class="ord">
                    Marca
                  </a>
                </th>

                <th>
                  <a href="/stock/modelo">
                    <img src="/imagenes/{{modelo}}.png" id="stock" class="ord">
                    Modelo
                  </a>
                </th>

                <th>
                  <a href="/stock/cantidad">
                    <img src="/imagenes/{{cantidad}}.png" id="modelo" class="ord" >
                      Stock
                    </a>
                </th>
            </tr>

            {% for art in art %}
             <tr>

                    <td><a href="/gestionar/articuloEditar/{{ art.idArticulo}}" title="Editar" class="editar"> {{ art.articulo }} </a></td>
                    <td>{{ art.familia }}</td>
                    <td>{{ art.marca }}</td>
                    <td>{{ art.modelo }}</td>
                    <td>{{ art.cantidad }}</td>
                </tr>

            {% endfor %}
        </table>
   </div>


{% endblock %}
