{% extends 'base.html.twig' %}

{% block title %}Hello {{ controller_name }}!{% endblock %}

{% block body %}


<br>
<br>

   <div class="container">

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Entrega de artículos</h5>
                    <p class="card-text">Iniciá el proceso de entrega de articulos</p>
                    <a href="solicitud" class="btn btn-danger">Crear Orden</a>
                </div>
            </div>
        </div>



        <div class="col-lg-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Recibir Artículos</h5>
                    <p class="card-text">Incrementá el stock existente.</p>
                    <a href="/ordenIngreso" class="btn btn-primary">Agregar</a>
                </div>
            </div>
        </div>
    </div>

    <br>

	<div class="alert alert-info" role="alert">
	  Detalle de los artículos en depósito	
	</div>



    <table class="table">
            <tr>
                <th>#</th>
                <th>Familia</th>
                <th>Artículo</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th style="width:100px; text-align: center;">Stock disponible</th>
            </tr>

            {% for art in art %}
                <tr>
                    <th>{{ art.id }}</th>
                    <td>{{ art.familia }}</td>
                    <td>{{ art.articulo }}</td>
                    <td>{{ art.marca }}</td>
                    <td>{{ art.modelo }}</td>
                    <td style="width:100px; text-align: center;">{{ art.cantidad }}</td>
                </tr>

            {% endfor %}
        </table>
   </div>

    
{% endblock %}