{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

    <script>
        $(document).ready(function(){

            var a = '{{ activar }}';


            if (a == 'quitar'){

                $('#nav-cabecera-tab').attr('class','nav-item nav-link active');
                $('#nav-vistaPrevia-tab').attr('class','nav-item nav-link');
                $('#nav-editarList-tab').attr('class','nav-item nav-link');

                $("#nav-vistaPrevia").attr('class','tab-pane fade');
                $("#nav-cabecera").attr('class','tab-pane fade show active');
                $("#nav-editarList").attr('class','tab-pane fade');
            }

        });
    </script>

    <br>

    {% set fecha = cabecera.fecha.date | split(' ') %}
    <!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Orden de recepción # {{ cabecera.id }} </h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

          <div class="alert alert-info" role="alert">
              <h5>Fecha: {{ fecha[0]|date("m/d/Y") }} </h5>
              <h5 style="float: left;">Preoveedor: {{ cabecera.proveedor }}</h5>
              <h5 style="float: right;">Nro de remito: {{ cabecera.remito }}</h5>
              <h5 style="float: left; clear: left; ">Receptor: {{ cabecera.receptor }}</h5>
              <h5 style="float: right; ">Nro de suministro: {{ cabecera.suministro }}</h5>
              <br><br><br>
          </div>

            <table class="table">
                                <tr>
                                    <th>Artículo</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Cantidad</th>
                                </tr>

            {% for d in lineas %}
            <tr>
                <td>{{ d.articulo }}</td>
                <td>{{ d.marca }}</td>
                <td>{{ d.modelo }}</td>
                <td>{{ d.cantidad }}</td>
            </tr>
            {% endfor %}
        </table>


      </div>
      <div class="modal-footer">

          {{ form_start(formularioOrden) }}
          {{ form_widget(formularioOrden) }}
          {{ form_end(formularioOrden) }}
      </div>
    </div>
  </div>
</div>






    <div class="container">


        <br>
        <section id="tabs">

            {% set tipoBTN = "primary" %}

            {% if cabecera.estado == 0 %}
                {% set estado = "En proceso"  %}
                {% set tipoBTN = "secondary" %}

            {% elseif cabecera.estado == 1 %}
                {% set estado = "Pendiente"  %}
                {% set tipoBTN = "danger" %}

            {% elseif cabecera.estado == 2 %}
                {% set estado = "Aprobado"  %}
                {% set tipoBTN = "success" %}

            {% endif %}



            {% set act = "" %}

            {% if cabecera.estado == 1 %}
                {% set act = "disabled" %}

            {% elseif cabecera. estado == 2 %}
                {% set act = "disabled" %}
            {% endif %}


            <h6 class="section-title h1" style="float:left;">
                Orden de recepción # {{ cabecera.id }}
                <span class="badge badge-{{ tipoBTN }}" style="font-size: 16px; vertical-align:super; ">{{ estado }}</span>
            </h6>

            <!-- Button volver -->
            <a href="/ordenes" class="linkVolver"  style="text-decoration:none; float:right; margin-left:20px; background:rgb(94, 103, 125); border-radius:4px; padding:5.5px 10px 5.5px 10px; color:#fff;">
                Ver ordenes  <img src="/imagenes/listaBlanca.png" style="margin-left:5px;"/>
            </a>



            <!-- Button trigger modal -->
            <button type="button" {{ act }} class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" style="float:right; ">
              Vista previa
            </button>




            <br><br><br>


                <br>
            <div class="row">
                <div class="col-lg-12 ">
                    <nav>

                        <!-------------------------- titulos de tabs ---------------------->
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-vistaPrevia-tab" data-toggle="tab" href="#nav-vistaPrevia" role="tab" aria-controls="nav-vistaPrevia" aria-selected="true">Artículos</a>
                            <a class="nav-item nav-link" id="nav-cabecera-tab" data-toggle="tab" href="#nav-cabecera" role="tab" aria-controls="nav-cabecera" aria-selected="false">Agregar artículos</a>
                            <a class="nav-item nav-link" id="nav-editarList-tab" data-toggle="tab" href="#nav-editarList" role="tab" aria-controls="nav-editarList" aria-selected="false">Modificar lista cabecera</a>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">


                        <!-------------------------- tab 1 ---------------------->
                        <div class="tab-pane fade show active" id="nav-vistaPrevia" role="tabpanel" aria-labelledby="nav-vistaPrevia-tab">
                          <div class="alert alert-info" role="alert">

                            {{form_start(formNumero)}}
                            {{form_widget(formNumero)}}
                            {{form_end(formNumero)}}

                          </div>


                          <table class="table">
                              <tr>
                                  <th>Artículo</th>
                                  <th>Marca</th>
                                  <th>Modelo</th>
                                  <th>Cantidad</th>
                              </tr>



                              {% for linea in lineas %}

                                  <tr>
                                      <td>{{ linea.articulo }}</td>
                                      <td>{{ linea.marca }}</td>
                                      <td>{{ linea.modelo }}</td>
                                      <td>{{ linea.cantidad }}</td>

                                  </tr>

                              {% endfor %}





                          </table>


                        </div>

                        <!-------------------------- tab 2 ---------------------->
                        <div class="tab-pane fade" id="nav-cabecera" role="tabpanel" aria-labelledby="nav-cabecera-tab">






                        </div>

                        <!-------------------------- tab 3 ---------------------->
                        <div class="tab-pane fade" id="nav-editarList" role="tabpanel" aria-labelledby="nav-editarList-tab">

                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- ./Tabs -->

    </div>



{% endblock %}
