{% extends 'base.html.twig' %}

{% block title %}{% endblock %}




{% block body %}


    <script>
        $(document).ready(function(){

            var a = '{{ activar }}';


            if (a == 'quitar'){

                $('#nav-cabecera-tab').attr('class','nav-item nav-link active');
                $('#nav-vistaPrevia-tab').attr('class','nav-item nav-link');
                $('#nav-editarList-tab').attr('class','nav-item nav-link');


                $("#nav-vistaPrevia").attr('class','tab-pane fade');
                $("#nav-cabecera").attr('class','tab-pane fade show active');
                $("#nav-editarList").attr('class','tab-pane fade');
            }

        });
    </script>


    <br>

    <div class="container">


        <br>
        <section id="tabs">
            <h6 class="section-title h1">Orden # {{ orden }}</h6>
            <br>
            <div class="row">
                <div class="col-lg-12 ">
                    <nav>

                        <!-------------------------- titulos de tabs ---------------------->
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-vistaPrevia-tab" data-toggle="tab" href="#nav-vistaPrevia" role="tab" aria-controls="nav-vistaPrevia" aria-selected="true">Agregar linea</a>
                            <a class="nav-item nav-link" id="nav-cabecera-tab" data-toggle="tab" href="#nav-cabecera" role="tab" aria-controls="nav-cabecera" aria-selected="false">Quitar lineas</a>
                            <a class="nav-item nav-link" id="nav-editarList-tab" data-toggle="tab" href="#nav-editarList" role="tab" aria-controls="nav-editarList" aria-selected="false">Modificar lista cabecera</a>
                        </div>
                    </nav>

                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">


                        <!-------------------------- tab 1 ---------------------->
                        <div class="tab-pane fade show active" id="nav-vistaPrevia" role="tabpanel" aria-labelledby="nav-vistaPrevia-tab">


                            <div class="alert alert-info" role="alert">
                                Lista de los artículos a solicitar
                            </div>


                            {{ form_start(formularioIngreso) }}
                            <table class="table">
                                <tr>
                                    <th>#</th>
                                    <th>Familia</th>
                                    <th>Artículo</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Cantidad</th>
                                </tr>


                                {% for datos in listaArticulo %}
                                    <tr>
                                        <td>{{ datos.id }} </td>
                                        <td>{{ datos.familia }}</td>
                                        <td>{{ datos.articulo }}</td>
                                        <td>{{ datos.marca }}</td>
                                        <td>{{ datos.modelo }}</td>
                                        <td style="width:30px;">
                                            {{ form_widget(formularioIngreso["cantidad"~loop.index0],{'attr':{'value':0} }  ) }}
                                            {{ form_widget(formularioIngreso["articulo"~loop.index0],{'attr':{'type':'hidden'} }) }}
                                            {{ form_widget(formularioIngreso["marca"~loop.index0]) }}
                                            {{ form_widget(formularioIngreso["modelo"~loop.index0]) }}
                                            {{ form_widget(formularioIngreso["idArticulo"~loop.index0]) }}
                                        </td>
                                    </tr>
                                {% endfor %}

                            </table>
                            {{ form_end(formularioIngreso) }}

                        </div>

                        <!-------------------------- tab 2 ---------------------->
                        <div class="tab-pane fade" id="nav-cabecera" role="tabpanel" aria-labelledby="nav-cabecera-tab">

                            <div class="alert alert-info" role="alert">
                                Quitar
                            </div>



                            <table class="table">
                                <tr>
                                    <th>Artículo</th>
                                    <th>Marca</th>
                                    <th>Modelo</th>
                                    <th>Cantidad</th>
                                </tr>
                                {{ form_start(formPedido) }}

                                {% for linea in lineas %}

                                    <tr>
                                        <td>{{ linea.articulo }}</td>
                                        <td>{{ linea.marca }}</td>
                                        <td>{{ linea.modelo }}</td>
                                        <td>{{ linea.cantidad }}</td>
                                        <td>{{ form_row(formPedido[linea.id]) }}</td>
                                    </tr>

                                {% endfor %}


                            </table>{{ form_end(formPedido) }}






                        </div>

                        <!-------------------------- tab 3 ---------------------->
                        <div class="tab-pane fade" id="nav-editarList" role="tabpanel" aria-labelledby="nav-editarList-tab">
                            {{ form_start(formularioCabecera) }}
                            {{ form_widget(formularioCabecera) }}
                            {{ form_end(formularioCabecera) }}
                        </div>

                    </div>
                </div>

            </div>
        </section>

        <!-- ./Tabs -->

    </div>



{% endblock %}